{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock %}

{% block content %}
    <div class="col col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">
        <div class="row" style="text-align:center;">
            <button class="btn btn-info">Show me what rooms are free right now!</button>
        </div>
        <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
            <div class="strike">
                <span><i style="color: grey;">or</i></span>
            </div>
        </div>
        <div class="row">
            <input type="text" class="form-control" name="query" placeholder="Search for a room...">
        </div>
    </div>
{% endblock %}