{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <!-- Data Tables !-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/b-1.3.1/b-print-1.3.1/r-2.1.1/datatables.min.css"/>
{% endblock %}

{% block js %}
    <!-- Data Tables !-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/b-1.3.1/b-print-1.3.1/r-2.1.1/datatables.min.js"></script>

    <script type="text/javascript" src="{% static "javascripts/index.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="col col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
        <div class="row" style="text-align:center;" data-toggle="collapse" data-target="#free_now_tbl_collapse">
            <button class="btn btn-raised btn-info" id="free_now_btn">Show me what lessons are happening right now!</button>
        </div>
        <br>
        <div class="collapse" id="free_now_tbl_collapse">
            <table id="free_now_tbl" class="table table-striped" style="width:100%;">
                <thead>
                <tr>
                    <th>Location</th>
                    <th>Lesson Start</th>
                    <th>Lesson End</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
            <div class="strike">
                <span><i style="color: grey;">or</i></span>
            </div>
        </div>
        <!-- Room Search Feature !-->
        <div class="row">
            <div class="col col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label" for="room-choice">I'm looking for</label>
                        <select class="form-control" id="room-choice">
                            <option>any</option>
                            <option>specific</option>
                        </select>
                    </div>
                    <div class="collapse" id="room-search-box-collapse">
                        <div class="form-group">
                            <input type="text" class="form-control" id="room-search-box" placeholder="Type a room name, number, etc...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="building-choice">rooms in</label>
                        <select class="form-control" id="building-choice">
                            <option>Any Building</option>
                            <option>Specific Buildings</option>
                        </select>
                    </div>
                    <div class="collapse" id="building-choice-list-collapse">
                        <div class="btn-group-raised" data-toggle="buttons" id="building-choice-list">
                            <label class="btn btn-primary active" id="j17" data-selected="false">
                                <input type="checkbox" autocomplete="off"> Ainsworth / J17
                            </label>
                            <label class="btn btn-primary active" id="blockhouse" data-selected="false">
                                <input type="checkbox" autocomplete="off"> Blockhouse
                            </label>
                            <label class="btn btn-primary active" data-selected="false" id="goldstein">
                                <input type="checkbox" autocomplete="off"> Goldstein
                            </label>
                            <label class="btn btn-primary active" id="k17" data-selected="false">
                                <input type="checkbox" autocomplete="off"> K17
                            </label>
                            <label class="btn btn-primary active" id="matthews" data-selected="false">
                                <input type="checkbox" autocomplete="off"> Matthews
                            </label>
                            <label class="btn btn-primary active" id="omb" data-selected="false">
                                <input type="checkbox" autocomplete="off"> Old Main Building
                            </label>
                            <label class="btn btn-primary active" id="rc" data-selected="false">
                                <input type="checkbox" autocomplete="off"> Red Centre
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-inline">
                    <div class="form-group" style="margin-left: -15px;">
                        <label class="control-label" for="hour-choice">free from</label>
                        <input class="form-control" id="hour-choice" type="number" style="width:4em;" min="0" max="24">
                        :
                        <input class="form-control" id="minute-choice" type="number" style="width:4em;" min="0" max="60">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="duration-choice">for</label>
                        <input class="form-control" id="duration-choice" type="number" style="width:4em;" min="0" max="60" value="1">
                        <label class="control-label" style="text-align: right;" for="duration-choice">hours.</label>
                    </div>
                    <button class="btn btn-info btn-raised" id="go">Go!</button>
                </div>
        </div>
        <br>
        <div class="collapse" id="room_search_collapse">
            <table id="room_search_tbl" class="table table-striped" style="width:100%">
                <thead>
                <tr>
                    <th>Location</th>
                    <th>Free Until</th>
                    <th>Duration</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
